<!doctype HTML>
<html lang="en">
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="javascript/application.js"></script>
  <title>Gift Drawer</title>
</head>
<body>

  <h1>Gift Drawer</h1>
  <form id="new-match" action="/users" method="post">
    <input id="person_name" type="text" placeholder= "Enter a name" name="name"></input>
    <button>Add</button>
  </form>

  <div>
    <h2>Matches</h2>
    <ul id="matches"></ul>
    <button>Match Us!</button>
  </div>

</bdy>
</html>
