<!doctype HTML>
<html lang="en">
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="javascript/application.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.js"></script>
  <title>Gift Drawer</title>
</head>
<body>

<div class = "container">
    <img src ="gift_box.png">
    <h1>Gift Drawer</h1>
    <form id="new-match" action="/users" method="post">
    <input id="person_name" type="text" placeholder= "Enter a name" name="name"></input>
    <button id="add-to">Add</button>
    </form>


<div class="main-content">
  <ul id="matches">
  </ul>
</div>

  <button id="match_button">Match Us!</button>
  <button id="reset_button">Reset</button>
</div>
</body>
</html>
